.usage-table {
  overflow: auto;
}

.usage-table .styled-table {
  border-collapse: collapse;
  font-size: 18px;
}

.usage-table .styled-table th {
  color: #a3aed0;
  font-size: 14px;
  font-weight: 500;
  border: none;
  white-space: pre;
}

.usage-table .styled-table th,
.usage-table .styled-table td {
  padding: 12px 15px;
  background-color: transparent;
  border: none;
}

.usage-table .user-name {
  max-width: 200px;
  width: 200px;
}

.usage-table .time-spent {
  width: 150px;
}

.usage-table .feedbacks {
  width: 100px;
}

.usage-table .last-activity {
  width: 150px;
}

.usage-overview-holder {
  flex-direction: column;
}

.table-button-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 18px 0px 15px 15px;
}

.table-main-header {
  font-size: 16px;
  font-weight: 700;
  color: #2b3674;
}

.table-change-button {
  border-radius: 10px;
  border: 1px solid #d1e5fa;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  cursor: pointer;
}

.table-change-button .circle-dot-icon {
  width: 16px;
  height: 5px;
}
