.dashboard-wrapper {
  padding: 18px 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  overflow-y: auto
}

.grid-container-1,
.grid-container-2,
.grid-container-3 {
  width: 100%;
  gap: 10px;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 365px 1fr;
}

.grid-container-2,
.grid-container-3 {
  display: flex;
}

.grid-container-2 .responsive-width,
.grid-container-3 .responsive-width {
  width: 65%;
  height: 400px;
}

.grid-container-2 .card.fixed-width,
.grid-container-3 .card.fixed-width {
  width: 34%;
}

.responsive-width {
  display: flex;
  width: 100%;
  height: 100%;
}

.card {
  border: 1px solid #d1e5fa;
  /* background-color: #f4f7fe; */
  display: flex;
  width: 100%;
}

.app-main-component {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.app-content-table-wrapper {
  width: calc(100% - 310px);
}
